@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");
/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Kanit", sans-serif;
}


/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff0000, #ff5757);
    border-radius: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.3s ease-out;
  }

  @keyframes glow {
    0% {
      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
    }
    50% {
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
    }
    100% {
      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
    }
  }
  
  .animate-glow {
    animation: glow 1.5s infinite ease-in-out;
  }
  
  
  